<h1>Home</h1>
<p>Angular 2/4 - Animation Tutorial & Example</p>

  <!-- 1 -->
  <div>
    <label for=""> (1) Property Binding </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/propertyBinding">
            Property Binding
        </a>
      </li>
    </ul>
  </div>
  <!-- 2 -->
  <div>
    <label for=""> (2) Attribue Binding </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/attributeBinding">
            Attribue Binding
        </a>
      </li>
    </ul>
  </div>
  <!-- 3 -->
  <div>
    <label for=""> (3) Class Binding </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/classBinding">
            Class Binding
        </a>
      </li>
    </ul>
  </div>
  <!-- 4 -->
  <div>
    <label for=""> (4) Style Binding </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/styleBinding">
            Style Binding
        </a>
      </li>
    </ul>
  </div>
  <!-- 5 -->
  <div>
    <label for=""> (5) Event Binding </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/eventBinding">
            Event Binding
        </a>
      </li>
    </ul>
  </div>
  <!-- 6 -->
  <div>
    <label for=""> (6) Event Filtering </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/eventFiltering">
            Event Filtering
        </a>
      </li>
    </ul>
  </div>
  <!-- 7 -->
  <div>
    <label for=""> (7) Template Variable </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/templateVariable">
            Template Variable
        </a>
      </li>
    </ul>
  </div>
  <!-- 8 -->
  <div>
    <label for=""> (8) Banana Binding </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/bananaBinding">
            Banana Binding
        </a>
      </li>
    </ul>
  </div>
  <!-- 9 -->
  <div>
    <label for=""> (9) Pipes </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/pipe">
            Pipes
        </a>
      </li>
    </ul>
  </div>
  <!-- 10 -->
  <div>
    <label for=""> (10) Custom Pipes </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/customPipes">
            Custom Pipes
        </a>
      </li>
    </ul>
  </div>